body {
	font-family: Lato, sans-serif;
	margin: 0;
}

main {
    margin: 170px auto;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    float: left;
    list-style-type: none;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    margin-left: 0px;
    align-items: center;
    padding-left: 0;
    
}




.navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    margin-right: 20px;
    align-items: center;
}

li {
    display: inline-block;
    vertical-align: middle;
    
}

.apps_icon {
        width: 25px;
        height: auto;
        opacity: .6;
        margin: 10px;
}
#logo {
	width: auto;
	margin: auto;
	text-align: center;
}

.button {
    background-color: white;
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 11px 4px;
    cursor: pointer;
}
.search-button {
    background-color: rgb(201, 190, 190);
    border: none;
    border-color: grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 4px;
    margin-right:4px;
    cursor: pointer;
    min-width: 54px;
    padding: 16px 16px;
}

.links{
    text-decoration: none;
    opacity: 0.55;
}

.links:hover{
    text-decoration: underline;
    opacity: 0.85;
}

#foot {
    
    background-color: rgb(192, 182, 182)
}